@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.profile-container {
    padding: 2rem;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto; 
}

.profile-form {
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--azul-escuro), var(--azul-claro-light));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-form .btn-edit {
    width: 100%;
    margin-bottom: 10px;
}

.profile-form .btn-danger {
    width: 100%;
}

.signIn-title {
    color: #FFF;
    margin-bottom: 1.5rem;
}

.form-label {
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
}

.form-control {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4A5568;
    color: #000;
}

.form-control:focus {
    outline: none;
    border-color: #718096;
}

.submit-button {
    background-color: #285ec2;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-button:hover {
    background-color: var(--azul-escuro);
}

.text-danger {
    color: #E53E3E;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: block;
}
